@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola</h1>
    <h2>Práctica Final</h2>
    <div class="container">
            <a asp-area="" asp-controller="PersonaItems" asp-action="Index" class="btn btn-primary">ENTRAR</a>
    </div>
</div>
